body{
    /* background-color: #4C657A;  */
    background-color: white; 
    
}

header{
    background-color: #395064;
}

.foot{
    border-radius: 5px;
    background-color: #395064;
    
}

.list-group-item  {
    background-color: #E1E6E9;
    text-align: center;
    
}

.tableau {
    display: flex;
    justify-content: center;
    
}

nav {
    display: flex;
    justify-content: space-evenly;
}